<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarHabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarArea</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarArea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarBolsaTrabajo</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarBolsaTrabajo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCandidato</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCandidato</servlet-class>
        <multipart-config>
            <location/>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarCandidato</servlet-name>
        <url-pattern>/procesarCandidato</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProcesarCargo</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCorreo</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCorreo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCurriculum</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCurso</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCvCargo</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCvCargo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCvHabilidad</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCvHabilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarCvIdioma</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarCvIdioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarEmpresa</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarExperienciaLaboral</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarExperienciaLaboral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarIdioma</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarIdioma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarNivelExperiencia</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarNivelExperiencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarOferta</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarOferta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTelefono</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarTelefono</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarTipoContratacion</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarTipoContratacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarUsuario</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarEducacion</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarEducacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.tecontrato.controlador.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.tecontrato.controlador.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarEmpleado</servlet-name>
        <servlet-class>com.tecontrato.controlador.ProcesarEmpleado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProcesarHabilidad</servlet-name>
        <url-pattern>/procesarHabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarArea</servlet-name>
        <url-pattern>/procesarArea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarBolsaTrabajo</servlet-name>
        <url-pattern>/procesarBolsaTrabajo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCargo</servlet-name>
        <url-pattern>/procesarCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCorreo</servlet-name>
        <url-pattern>/procesarCorreo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCurriculum</servlet-name>
        <url-pattern>/procesarCurriculum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCurso</servlet-name>
        <url-pattern>/procesarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCvCargo</servlet-name>
        <url-pattern>/procesarCvCargo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCvHabilidad</servlet-name>
        <url-pattern>/procesarCvHabilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarCvIdioma</servlet-name>
        <url-pattern>/procesarCvIdioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarEmpresa</servlet-name>
        <url-pattern>/procesarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarExperienciaLaboral</servlet-name>
        <url-pattern>/procesarExperienciaLaboral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarIdioma</servlet-name>
        <url-pattern>/procesarIdioma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarNivelExperiencia</servlet-name>
        <url-pattern>/procesarNivelExperiencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarOferta</servlet-name>
        <url-pattern>/procesarOferta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTelefono</servlet-name>
        <url-pattern>/procesarTelefono</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarTipoContratacion</servlet-name>
        <url-pattern>/procesarTipoContratacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarUsuario</servlet-name>
        <url-pattern>/procesarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarEducacion</servlet-name>
        <url-pattern>/procesarEducacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/logincontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logoutcontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarEmpleado</servlet-name>
        <url-pattern>/procesarEmpleado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
